#walgprog-logo {
  display: block;
}

 .logo-fixed-header {
  width: 28px;
  height: 35px;
}

.logo-devise {
  width: 68px;
  height: 75px;
  margin: auto;
  margin-bottom: 25px;
}

.logo-index {
  margin: 2em 1.5em 2.2em 6em;
  width: 50px;
  height: 35px;
}
