<li>
  <a class="scrolly" href="#<%= section.id %>" id="<%= section.id %>-link">
    <span class="icon solid <%= section.icon.sub(/fas|far|fab/, '') %>">
      <%= section.title %>
    </span>
  </a>
</li>