<section id="<%= section.id %>" class=<%= @classes.first %>>
<div class="container">
  <article class="text-justify">
    <%= raw(section.content) %>
  </article>
</div>
</section>
<% @classes.delete(@classes.first) %>
